.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  img {
    
    animation: zoom 5s ease-in-out;
  }
  
  @keyframes zoom {
    0% { transform: scale(0.5); }
    100% { transform: scale(2.5); }
  }
  