<div class="about-me">
   <div class="bold-text"> Hi there! </div> 

   <div class="inner-text">
       I'm Suryasheel Mourtika, a frontend developer with 2 years of experience creating visually appealing and
       user-friendly web applications.
   </div>
   <div class="inner-text">
       With a strong foundation in HTML, CSS, and JavaScript, I specialize in developing responsive and dynamic interfaces
       that seamlessly integrate with backend systems.
   </div>
   <div class="inner-text">
       With a strong foundation in HTML, CSS, and JavaScript, I specialize in developing responsive and dynamic interfaces
       that seamlessly integrate with backend systems.
   </div>
   <div class="inner-text">
       Whether it's crafting pixel-perfect designs or optimizing website performance, I'm passionate about using my skills
       to deliver impactful digital solutions. Let's connect and see how we can collaborate!
   </div>
</div>