<section class="contactPage">
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="contactFormOuterSection">
      
      <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
        
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" formControlName="name" class="form-control">
            <div *ngIf="emailForm.get('name') && emailForm.get('name')" class="form-text text-muted">
              Name is required.
            </div>
          </div>
        
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" class="form-control">
            <div *ngIf="emailForm.get('email') && emailForm.get('email')" class="form-text text-muted">
              Please enter a valid email address.
            </div>
          </div>
        
          <div class="form-group">
            <label for="message">Message:</label>
            <textarea id="message" formControlName="message" class="form-control"></textarea>
            <div *ngIf="emailForm.get('message') && emailForm.get('message')" class="form-text text-muted">
              Message is required.
            </div>
          </div>
        
          <button type="submit" class="btn btn-success">Submit</button>
      </form>
      
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="contactImage align-items-end">
      <img src="../../assets/Images/Icons/contact.svg" alt="">
    </div>
  </div>
</div>
</section>
  