$primary-clr: #DB9A1E;
$card-bg-clr: rgba(201, 203, 208, 0.02);


//DARK THEME COLOR
$bg-dark: #101010;
$dark-text-primary: #FEF6E8;
$dark-text-secondary: #C9CBD0;
$dark-text-third: #A5A6AA;
$dark-text-fourth: #989898;

//LIGHT THEME COLOR 
$bg-light: #FCFCFC;
$light-text-primary: #323232;
$light-text-secondary: #4C4C4C;
$light-text-third: #656565;
$light-text-fourth: #7F7F7F;