<div class="experience">
    <div class="details">
        <div class="company">Sago</div>
        <div class="position">Jr Frontend Developer</div>
        <div class="duration">October 2021 to Present</div>
    </div>
    <div class="inner-text">
        <ul>
            <li>Collaborate with designers and back-end developers to create responsive websites and web applications.</li>
            <li>Develop reusable UI components using Angular frontend frameworks.</li>
            <li>Write clean, well-documented, and maintainable code.</li>
            <li>Perform cross-browser and cross-platform testing to ensure website compatibility.</li>
            <li>Conduct code reviews and provide constructive feedback to other team members.</li>
            <li>Implement performance optimization techniques to enhance website speed and user experience.</li>
            <li>By the time of work trying to learn lots of new features which has been used many of the time in the products. </li>
        </ul>
    </div>
    <div class="outer-layer-tech">
        <div class="tech-skills" *ngFor="let skill of skills">
            {{ skill.skill }}
        </div>
    </div>

    <div class="details pt-4">
        <div class="company">Sago</div>
        <div class="position">Management Trainee</div>
        <div class="duration">July 2021 to October 2021</div>
    </div>
    <div class="inner-text">
        <ul>
            <li>Collaborate with designers and back-end developers to create responsive websites and web applications.</li>
            <li>Develop reusable UI components using Angular frontend frameworks.</li>
            <li>Write clean, well-documented, and maintainable code.</li>
            <li>Perform cross-browser and cross-platform testing to ensure website compatibility.</li>
            <li>Conduct code reviews and provide constructive feedback to other team members.</li>
            <li>Implement performance optimization techniques to enhance website speed and user experience.</li>
            <li>By the time of work trying to learn lots of new features which has been used many of the time in the products. </li>
        </ul>
    </div>
    <div class="outer-layer-tech">
        <div class="tech-skills" *ngFor="let skill of skills">
            {{ skill.skill }}
        </div>
    </div>
</div>